img 
{
    border-radius: 25px;
    padding: 20px;
      
}


body {
    background-color:rgb(241, 239, 224);
    max-width: 500px;
    margin: 0 auto;
  }

  header {
    background-color: #b1ccf3;
    display: flex;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgb(71, 72, 72);
    align-items: center;
    
  }

ol, li {
  text-align: justify;
}

footer {
  
  background-color: #b1ccf3;
  display: flex;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px rgb(71, 72, 72);
  
}

h2{
  color: rgb(8, 8, 8);
  text-shadow: 2px 2px 4px #000000;
}

h1 {
  color: azure;
  text-shadow: 2px 2px 4px #bbb7b7;
}

.footerdiv {
  margin: 0 auto;
}
  
.footerdiv2 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
