@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

body{
  background-color: #0C0032;
}

nav{
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f3e9e9;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #282828;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.ham {
	display:flex;
  justify-content:center;
  color:white;
  margin-bottom: 30px;
}


/* icon for site */

.mreaders img {
    width: 10%;
    border-radius: 60%;
    margin: 10px;
}

/* take away authors */

.top4{
  display:none;
}

/* .mreaders {
  display:flex;
  justify-content: space-between;
} */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* match the .slideshow-container for the image */

.mySlides img {
  width: 100%;
  height: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  /* background-color: none; */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* share box */

.sharebox {
  /* border: 1px solid white; */
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-image: url("https://joseph-kaku.github.io/wdd230/frontendwebsite/images/hunterhunter.png");
  border-radius: 10px;
}

.share-button {
  color: #190061;
}

/* footer */

.foot {
  color: white;
  text-align: center;
}

.foot p {
  border: 1px solid white;
  background-color: #282828;
  margin-left: 100px;
  margin-right: 100px;
}

@media only screen and (min-width: 700px){

.ham{
  display:none;
}


  nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: #0C0032;
    
}

nav a {
  text-decoration: none;
  color: white;
}

}

@media only screen and (min-width: 1000px){
  
  .ham{
    display:none;
  }

  nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: #0C0032;
    
}

nav a {
  text-decoration: none;
  color: white;
}

.top4 {
  display: block;
  background-color: whitesmoke;
  padding: 10px;
  width: 100%;
}

.author1, .author3 {
  display: flex;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-right: 10px;
}

.author1 p, .author3 p {
  margin-left: 10px;
  color:#282828;
}

.author2, .author4 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  margin-right: 10px;
}

.author2 p, .author4 p {
  margin-left: 10px;
  color:#282828;
}

.author1 img, .author2 img, .author3 img, .author4 img {
  height: 200px;
  border: 3px solid black;
}

}