@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather&family=Poppins&display=swap');

head, body, footer{
    font-family: 'Inconsolata', monospace;
} 

img{
   width: 10%;
  
}

.logos{
    width: 20%;
    float: right;
    display: inline;
}

.container{
    display: grid;
    grid-template-columns: 3fr;
    align-content: center;
}

header {
    display: flex;
    justify-content: center;
}

.gone {
    display: none;
}

h2, h4, p{
    text-align: center;
}

.box1, .box2, .box3, .box4, .box5, .childbox1, .childbox2, .childbox3{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    /* padding: 10px; */
    padding-top: 50px;
    padding-bottom: 10px;
}

.childbox3{
    display: none;
}

.logo2{
    display: flex;
    justify-content: center;
}
