/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather&family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



head, body, footer{
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Merriweather', serif;
} 

/* img{
    width: 10%;
    border-radius: 25px;
    padding: 10px;
} */

body {
    background-color: #B3E9C7;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 12px;
}

.headings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background-color: #F0FFF1;
    padding: 12px
}

.logo-title {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 16px;
}

.icon-ham {
    display: flex;
    width: 30%;
    align-items: center;
    gap: 8px;
    /* justify-content: space-around; */
    clear: left;
}

.ham {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(107, 145, 179);
}

.logo1 {
    width: 80px;
    height: 80px;
    
}

.logo1 img {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    border: 1px solid #5603AD;
}

.media {
    width: 30px;
    height: 30px;
}

.media img {
    width: 100%;
    
}

.social{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 4px;
    
}

.date {
    display: block;
    background-color: #F0FFF1;
    border: 0px solid black;
    padding: 8px;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #F0FFF1;
}

.navigation a {
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding: 8px;
    transition: all .05s;
}

.navigation a:hover {
    background-color: rgb(133, 172, 159);
    color: white;
}

.gone {
    display: none;
}

.flow{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box {
    border: 1px solid #5603AD;
    width: 70%;
    height: 200px;
    margin: auto;
    margin-bottom: 12px;
    background-color: #d8e3da;
    z-index: -1;
}

.big-box {
    border: 3px solid #5603AD;
    width: 70%;
    height: 400px;
    margin: auto;
    margin-bottom: 12px;
    padding: 24px
}

.small-box {
    border: 2px solid #5603AD;
    width: 90%;
    height: 50%;
    margin: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    background-color: #F0FFF1;
}

.logo-and-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contact {
    text-align: center;
    margin-top: -10px;
}

.footer-text, .footerdiv {
    text-align: center;
}




.footerdiv {
    background-color: #F0FFF1;
}

.box5{
    display: none;
}

.childbox3{
    display: none;
}

.logo2{
    width: 50px;
    height: 50px;
    display: flex;
    margin: 8px
    /* justify-content: center; */
    /* align-items: center; */
}

.logo2 img{
    width: 100%;
    border-radius: 100%;
    /* margin-top: 10px; */
    border: 1px solid #5603AD;
}

.mon-tues{
    text-align: center;
    background-color: #F0FFF1;
    border: 1px solid black;
    display:none;
}

.hero{
    position:relative;
}

.hero img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

.hero p{
    font-size: 30px;
    font-style: italic;
    color: #5603AD;
}

.box2 p{
    color: #5603AD;
    text-align: center;
}

.box2 h3{
    text-align: center;
}

.box3{
   display: flex;
   flex-direction: column;
}

.box3 img {
    width: 30%;
    height: 50%;
}

.box3 h3{
    text-align: center;
}

/* .box3 hr{
    margin-left: 20px;
    margin-right: 20px;
} */

.box3 h2{
    text-align: right;
}
.box4 h2{
    text-align: center;
}

.box4 p{
    text-align: center;
}

.box6{
    background-color: #d8e3da;
}


.button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 24px;
    border-radius: 12px;
    padding: 10px;
}


@media only screen and (min-width: 700px){
    body {
        font-size: 16px;
    }
   
    .flow {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box4 {
        grid-row-start: 2;
    }

    .big-box {
        grid-row-start: 3;
    }

    .box5{
        display: block;
        grid-row-start: 4;
    }

    .box2 {
        grid-row-start: 5;
    }

    .box3{
        grid-row-start: 6;
    }

    /* .event-weather {
        display: flex;
        gap: 12px;
        margin: 0 auto;
        width: 70%;
    } */

    .icon-ham {
        display: flex;
        width: 30%;
        align-items: center;
        gap: 90px;
        /* justify-content: space-around; */
        clear: left;
    }

    .box {
        border: 3px solid #5603AD;
        width: 70%;
        height: 200px;
        margin: auto;
        margin-bottom: 12px;
    }


    .box6{
        display: flex;
        gap: 12px;
        height: 300px;
        background-color: #d8e3da;

    }

    .logo-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }

    .logo-and-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer-contact {
        margin-right: 50px;
    }

    .footer-text {
        text-align: left;
        margin-left: 18px;
    }

    /* .box5{
        position: absolute;
    } */

    .join-button{
        position: absolute;
        left: 200px;
        top: 1000px;
        font-size: 30px;
        margin: 2px;
        border-radius: 12px;
        padding: 10px 120px;
        align-items: center;
    }
    
}


@media only screen and (min-width: 1000px){
    body {
        font-size: 15px;
    }

    .flow {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        margin: 20px;
    }

    .box{
        margin: 0;
    }

    /* .event-weather {
        grid-column-start: 1;
        grid-row-start: 1;
        width: 100%;
    } */


    /* .event-weather {
        display: flex;
        flex-direction: column;
    } */

    .box2{
        grid-column: 1 / 2 ;
        grid-row: 1 / 1;
        width: 100%;
    }

    .box3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
    }

    .childbox3{
        display: flex;
    }

    .hero {
        grid-column: 2 / 2;
        grid-row: 1 / 3;
        width: 100%;
        height: 100%;
        /* height: 100%; */
    }

    .box4 {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        width: 100%;
        height: 100%;
    }
 
    .box6 {
        grid-column: 3 / 4;
        grid-row: 1 / 5;
        flex-direction: column;
        /* gap: 0; */
        width: 100%;
        height: 100%;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #d8e3da;
        font-size: 15px;
    }

    .box3{
        grid-column: 2 / 1;
        grid-row: 2 / 3;
        width: 100%;
    }

    .box3 h2{
        text-align: center;
    }

    .box3 p{
        text-align: right;
    }

    .box5{
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        width: 100%;
        position: relative;
        /* height: 100%; */
    }

    
    .navigation{
        display: flex;
        flex-direction: row;
        border: none;
        
    }

   .navigation a {
    border: none;
   }

    .ham{
        display:none;
    }
    
    .join-button{
    position: absolute;
    top: 80px;
    left: 65px;
    font-size: smaller;
    padding: 10px;
    }

    *{
        font-size: small;
    }
}