/* .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid navy;
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
h2, h1 {
    color: navy;
    text-align: center;
}
img {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
}

footer{
    text-align: center;
} */

/*----------------------- Directory -------------------- */
.directory-header {
    text-align: center;
}

div.directory-btns {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

div.directory-btns button {
    background-color: rgba(3, 13, 99, 1);
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

div.directory-btns button:hover {
    box-shadow: 0 0 10px black;
    border: none;
}

div.directory-btns button i {
    width: 100%;
}

/* ---------------------- Directory - listView ------------------------------ */

div.list section {
    margin: 10px 10px;
    padding: 10px;
}

div.list section img {
    width: 100%;
    display: none;
}
/* ---------------------- Directory - gridView ------------------------------ */
div.cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
div.cards section {
    margin: 10px 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.cards section img {
    width: 100%;
    padding: 10px;
}

div.cards section p#business-name {
    display: none;
}

div.list section:nth-child(odd) {
    background-color:rgba(3, 13, 99, 0.2);
}