.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid navy;
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    width: 380px;
    margin: 20px;
}
h1 {
    text-align: center;
}




footer{
    text-align: center;
}

.directorybtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.directorybtn button {
    padding: 40px;

}