p{
    text-align: center;
    display: none;
}

.square img{
    /* margin-bottom: 10px; */
    height: 80%;
    width: 80%;
    display: block;
    margin: 10px auto;
}



/* .pictureview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} */

/* .square{
    border: 1px solid #5603AD;
    
} */



