p{
    text-align: center;
}

img{
    margin-bottom: 10px;
    
    height: 100%;
    width: 100%;
}



.pictureview{
    border: 1px solid #5603AD;
}

.square{
    border: 1px solid #5603AD;
    /* height: 100%; */
}

